# Dependencies
node_modules/

# Environment Variables (CRITICAL: Never push your DB URI or JWT secrets)
.env
.env.test
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Misc
.DS_Store
dist/